ENV="DEV"(PROD|DEV)
BOT_ONLY="false"(true|false)
BOT_TOKEN="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
DATABASE_URL="mongodb://admin:password@mongodb:27017"
GEMINI_AI_API_KEY="xxxxxxxxxxxxxxxxxxxxxxx"
GEMINI_MODEL="gemini-flash-latest"
GEMINI_LITE_MODEL="gemini-flash-lite-latest"
CLOUDFLARE_API_KEY="xxxxxxxxxxxxxxxxxxxxxxx"
CLOUDFLARE_ACCOUNT_ID="xxxxxxxxxxxxxxxxxxxxxxx"
CLOUDFLARE_ROUTING_MODEL=@cf/meta/llama-3.1-8b-instruct-fast
