# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# Ignore files related to API keys
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignore SASS config files
.sass-cache.env

# Ignore cache file
__pycache__/
data/
.ruff_cache/

store/
database_access.py
assets/cache/
