version: '3.8'

services:
  mie-bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mie-bot
    restart: unless-stopped
    environment:
      - BOT_TOKEN=${BOT_TOKEN}
      - DATABASE_URL=${DATABASE_URL}
      - GEMINI_AI_API_KEY=${GEMINI_AI_API_KEY}
      - ENV=${ENV:-DEV}
      - BOT_ONLY=${BOT_ONLY:-false}
      - OOPS_WEBHOOK_URL=${OOPS_WEBHOOK_URL}
    env_file:
      - .env
    volumes:
      - ./assets:/app/assets
      - ./bot:/app/bot
      - ./core:/app/core
      - ./utils:/app/utils
      - ./api:/app/api
    networks:
      - mie-network

networks:
  mie-network:
    driver: bridge
    attachable: true
